<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- <link rel = "stylesheet" type="text/css" href="http://localhost/book_admin_prj/common/css/add_detail_book.css"> -->
<link rel = "stylesheet" type="text/css" href="http://localhost/book_admin_prj/common/css/common_header_footer.css">
<link rel="stylesheet" href="../dist/css/admin_add_detail_book.css">


<title>Insert title here</title>
<style type="text/css">

 
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

 <script src="header.js"></script>
 
<script type="text/javascript">

 $(function () {
	
 });//ready



</script>
</head>
<body>
<!-- header -->
<section class="section_header">
  <div class="header_nav nav-up" id="header_nav">
    <div class="nav_logo">BOOKS</div>
    <ul class="nav_menu">
      <li class="nav_">도서관리</li>
      <li class="nav_">주문관리</li>
      <li class="nav_">회원관리</li>
      <li class="nav_">문의관리</li>
    </ul>
    <div class="nav_user_icons">
      <span><i class="fas fa-sign-in-alt"></i></span>
      <!-- <span><i class="far fa-user"></i></span> -->
    </div>
  </div>
</section>
<!-- header end -->



 
  <div id="container">
     <div id = "bookaddBody">
     
      <form action="" method="post" id="addBookInfo" name="addBookInfo"  enctype="multipart/form-data">
       <div><h2>도서 추가</h2></div><br/><br/>
       
          <div><h3>&nbsp;도서 정보</h3></div>
          <div class="checkBoxGrop">
            <input type="checkbox" name="book_best" id="book_best">베스트셀러
            <input type="checkbox" name="book_best" id="book_activity">활성화 여부
           </div>
           
        
          <div class="bookImgDiv">
              <div class="bookImg">
                   <img src="../common/images/ex_book.png" id="preview"><br/>
              </div>
              <div>
                <input type="file" id="upfile" name="upfile" value = "이미지 선택">
              </div>
         </div>
         
         <div class="bookData">
           <table class="bookDataTab">
              <tr>
                 <th class="colTh">isbn</th><td><input type="text" name="book_isbn" id="book_isbn"></td>
                 <th class="colTh">도서명</th><td><input type="text" name="book_name" id="book_name"></td>
              </tr>
              <tr>
                 <th class="colTh">도서분류</th>
                      <td><select name="book_country" id="book_country">
                           <option value="국내도서">국내도서</option>
                           <option value="외국도서">외국도서</option>
                          </select> 
                      </td>
                 <th class="colTh">세부분류</th>
                          <td><select name="book_company" id="book_company">
                          <option value="소설">소설</option>
                          <option value="에세이">에세이</option>
                          <option value="잡지">잡지</option>
                          <option value="만화">만화</option>
                          <option value="미정1">미정1</option>
                          <option value="미정2">미정2</option>
                        </select>
                      </td>
              </tr>
              <tr>
                 <th class="colTh">저자명</th><td><input type="text" name="book_writer" id="book_writer"></td>
                 <th class="colTh">출판사</th><td><input type="text" name="book_company" id="book_company"></td>
                 
              </tr>
              <tr>
                 <th class="colTh">판매가</th><td><input type="text" name="book_price" id="book_price"></td>
                 <th class="colTh">출판일</th><td><input type="text" name="book_date" id="book_date"></td>
              </tr>
              <tr>
                 <th class="colTh">재고량</th><td><input type="text" name="book_stock" id="book_stock"></td>
                 
              </tr>
           </table>
           </div> 
       
           
           <div class="bookInfoDiv">
            <div id="bookIntroDiv"><h3>도서소개</h3></div>
                
                 <textarea  name="book_info" id="book_info" ></textarea> 
              <div id="buttonGrop" >
                <input type="submit" value="추가"   id="addBookBtn" name="addBookBtn"/>
			    <input type="button" value="취소"   id="closeBtn" name="closeBtn"/>
              </div>
           </div>
            
       </form>      
     </div>
    

  </div>
   
  <!-- footer -->
 <section class="footer">
  <div class="footer_text">
    @copyright 2조 <br />
    Lorem ipsum dolor sit amet consectetur adipisicing elit.<br />
    Necessitatibus tenetur temporibus, enim nostrum soluta deleniti? <br />
    Veritatis maiores consequuntur magni
  </div>
</section>
  


</body>
</html>